*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin: 0;
}

body, text {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--font-size-paragraph);
}


code {
  font-family: $code-font-family;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font: var(--font-text1-normal);
  width: 100%;
  height: 100%;
  outline: 0;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--ui-border-color);
  border-radius: var(--border-radius-small);
  transition: border-color var(--motion-productive-medium) ease-in;
  padding: var(--spacing-small) var(--spacing-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-text-color);
}

:focus {
  outline: none;
}

.modal-content {
  border-radius: 12px;

  .modal-header {
    background-color: #002a6d;
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
    padding: 12px 21px;

    .modal-title {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .modal-footer {
    background-color: #eee;
    border-radius: 0 0 12px 12px;
  }
}


/* Scrollbar Custom */

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-button {
  background: #eee;
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb
}

::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-corner {
  background: #ccc
}