:root {
  --font-family: Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --title-font-family: Poppins, Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Customize some defaults
$body-color: #333;
$body-bg: #f8f8f8;



